@model SchoolTemplate.Database.Festival
@{
    ViewData["Title"] = "Festival";
}

    <div class="box1">
        <div class="boxtitle">
            <h1>@Model.Naam</h1>
        </div>
            <p>@Model.Beschrijving</p>
    </div>