@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<div class="background"></div>
<div class="container">
    <div class="box1">
        <div class="boxtitle">
            <h1>Actueel festival</h1>
            <p>Naam: argdfhsdfgh</p>
            <p>Datum: jbasdjfuiWG</p>
            <p>Beschrijving: dsajfbaskdfgbjksdafgakfdhgbjaksbfgjklasbjhgba sdjbg aj</p>
        </div>
    </div>
</div>