@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
    var latestFestival = Model.First();
}
<div class="body-margin">
<div class="background"></div>
<div class="container">

    <div class="af-box1">
        <div class="af-tekst">
            <div class="af-boxtitle">
                <h1>Actueel festival</h1>
            </div>
            <div class="af-boxtext">
                <p>Naam: @latestFestival.Naam</p>
                <p>Datum: @latestFestival.Start_dt.ToString("D") - @latestFestival.Eind_dt.ToString("D")</p>
                <p>Beschrijving: @latestFestival.Beschrijving  </p>
                <img src="~/Img/boomfestival.jpg" align:"right" />
            </div>
        </div>
    </div>
</div>
</div>

