@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<div class="background"></div>
<div class="container">
    <div class="box1">
        <div class="boxtitle">
            <h1>Actueel festival</h1>
        </div>
        <div class="boxtext">
            <p>Naam: Techo Festival</p>
            <p>Datum: 03/17/2020 - 03/20/2020</p>
            <p>Beschrijving: Het techno festival is een groot festival </p>
        </div>
    </div>
</div>