@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Home</h1>
    <img src="~/Img/FestivalHomePagina.jpg" />

</div>
