@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}
<div class="body-margin">
<div class="background"></div>
<div class="container">

    <div class="af-box1">
        <div class="af-tekst">
            <div class="af-boxtitle">
                <h1>Actueel festival</h1>
            </div>
            <div class="af-boxtext">
                <p>Naam: Boom Festival </p>
                <p>Datum: 03/17/2020 - 03/20/2020</p>
                <p>Beschrijving: Boom Festival is een tweejaarlijks festival in Portugal. Het eerste festival vond plaats in 1997 en had een sterke nadruk op psytrance. Later groeide het festival uit tot een multidisciplinair gebeuren met verschillende kunstuitingen, aandacht voor verschillende muziekgenres, yoga, meditatie en lezingen. </p>
            </div>
            <div class="af-boximage"></div>
        </div>
    </div>
</div>
</div>