@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}
<div class="body-margin">
<div class="background"></div>
<div class="container">
    @foreach (Festival f in Model)
    {
        <div class="box1">
            <div class="boxtitle">
                <h1>Actueel festival</h1>
            </div>
            <div class="boxtext">
                <p>Naam: @f.Naam</p>
                <p>Datum: 03/17/2020 - 03/20/2020</p>
                <p>Beschrijving: @f.Beschrijving </p>
            </div>
        </div>
    }
</div>
</div>