@{
    ViewData["Title"] = "Informatie";
}


<div class="if-body-margin">
    <div class="container">

        <div class="af-box1">
            <div class="af-tekst">
                <div class="af-boxtitle">
                    <h1> Festival Terrein </h1>
                </div>
                <div class="af-boxtext">
                    <p> Hier is een uitgebreid overzicht van ons terrein te zien. Hier kunt u een idee krijgen over hoe een groot deel van de festivals die wij organiseren</p>
                    <p> Als u een plattegrond van een specifiek festival wilt zien kunt u naar onze overzicht pagina. Ook worden er bij de ingang bij u aankomst op verschillende punten kaarten uitgedeeld. Mocht u nog vragen hebben kunt u contact met ons opnemen via de contact pagina of onze social media links onderaan de website pagina.</p>
                    <img src="../Img/FestivalTerrein.jpg" align:"right" />
                </div>
            </div>
        </div>
    </div>
</div>
