@{
    ViewData["Title"] = "Informatie";
}
<h1> Informatie </h1>

<div class="fm-box1">
    <div class="fm-tekst">
        <div class="fm-boxtitle">
            <h1> Festival Terrein </h1>
        </div>
        <div class="fm-boxtext">
            <p> Hier is een uitgebreid overzicht van ons terrein te zien. Hier kunt u een idee krijgen over hoe een groot deel van de festivals die wij organiseren</p>
        


        </div>
    </div>
</div>

