@{
    ViewData["Title"] = "Informatie";
}




<div class="fm-box1">
    <div class="fm-tekst">
        <div class="fm-boxtitle">
            <h1> Festival Terrein </h1>
        </div>
        <div class="fm-boxtext">
            <p> Hier is een uitgebreid overzicht van ons terrein te zien. Hier kunt u een idee krijgen over hoe een groot deel van de festivals die wij organiseren. Niet alle festivals zijn identiek ingedeeld maar grote voorzieningen zoals de main stage veranderen niet van paats.</p>
            <p> Als u een plattegrond van een specifiek festival wilt zien kunt u naar onze overzicht pagina. Ook worden er bij de ingang bij u aankomst op verschillende punten kaarten uitgedeeld. Mocht u nog vragen hebben kunt u contact met ons opnemen via de contact pagina of onze social media links onderaan de website pagina.</p>
            <div class="fm-boximage"></div>
        </div>
    </div>
</div>

<div class="co-box1">
    <div class="co-tekst">
        <div class="co-boxtitle">
            <h1> Corona Maatregel </h1>
        </div>
        <div>
            <p> Door de corona crisis zijn wij genoodszaakt om meerdere maatregelen te nemen zodat de festivals die wij helpen organiseren veilig kunnen verlopen. Omdat de richtlijnen continu veranderen zullen wij de website weekelijks bijwerken, regels kunnen dus rgeelmatig veranderen </p>
            <p> Er zijn ook meerdere festivals waarvan de...</p>
            <div class="co-boximage"></div>
        </div>
    </div>
</div>




