@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Overzicht";
}

<div class="body-margin">
    <div class="background-ov"></div>
    <div class="container-ov">
        @foreach (Festival f in Model)
        {
            <div class="box1">
                <div class="boxtitle">
                    <h1>@f.Naam</h1>
                </div>
                <div class="boxtext">
                    <p>Datum: @f.Start_dt.ToString("D") - @f.Eind_dt.ToString("D")</p>
                    <p>Beschrijving: @f.Beschrijving </p>
                    <img src=@f.Plaatje style="height:300px;width:auto;"/>
                </div>
            </div>
        }
    </div>
</div>
